.button {
  --text-align: center;

  display: inline-block;
  text-decoration: none;
  text-align: var(--text-align);
  color: var(--color-base-50);
  background-color: var(--color-base-900);
  border: 1px solid transparent;
  font-family: var(--font-sans);
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;

  padding: var(--spacing-3) var(--spacing-6);
  border-radius: var(--radius-none);

  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.button:hover {
  background-color: var(--color-base-700);
  color: var(--color-base-50);
}

.button-secondary {
  color: var(--color-base-900);
  background-color: transparent;
  border-color: var(--color-base-300);
}

.button-secondary:hover {
  background-color: var(--color-base-100);
  border-color: var(--color-base-400);
  color: var(--color-base-900);
}
