{%- doc -%}
  Render the Sandstone text logo.

  @param {string} [class] - Additional classes
{%- enddoc -%}

<p class="sandstone-logo{% if class != blank %} {{ class }}{% endif %}">
  Sandstone&co®
</p>
