---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="py-12">
      <div class="w-full max-w-xl mx-auto">
        <div class="text-center text-balance">
          <Text
            tag="h1"
            variant="displayXL"
            class="font-serif italic font-medium tracking-tight text-base-900"
          >
            Contact us
          </Text>
          <Text tag="p" variant="textBase" class="mt-2 text-base-500">
            Reach out to us for any inquiries or assistance with your product or
            service, or to get in touch with us for any other inquiries.
          </Text>
        </div>
        <form class="mt-12">
          <div class="grid grid-cols-1 gap-2 sm:grid-cols-2 gap-y-4">
            <div>
              <label for="first-name" class="text-sm font-medium text-base-500"
                >First name</label
              >
              <input
                type="text"
                id="first-name"
                name="first-name"
                autocomplete="given-name"
                placeholder="Your name"
                aria-label="First name"
                class="block w-full px-4 py-2 text-xs leading-tight align-middle bg-white border border-transparent gap-2 transition duration-300 ease-in-out focus:z-10 h-9 rounded-md text-base-500 ring-1 ring-base-200 placeholder-base-400 focus:border-accent-500 focus:ring-accent-100 focus:ring-2 focus:outline-none shadow-sm"
              />
            </div>
            <div>
              <label for="last-name" class="text-sm font-medium text-base-500"
                >Last name</label
              >
              <input
                type="text"
                id="last-name"
                name="last-name"
                autocomplete="family-name"
                placeholder="Your last name"
                aria-label="Last name"
                class="block w-full px-4 py-2 text-xs leading-tight align-middle bg-white border border-transparent gap-2 transition duration-300 ease-in-out focus:z-10 h-9 rounded-md text-base-500 ring-1 ring-base-200 placeholder-base-400 focus:border-accent-500 focus:ring-accent-100 focus:ring-2 focus:outline-none shadow-sm"
              />
            </div>
            <div class="sm:col-span-2">
              <label for="company" class="text-sm font-medium text-base-500"
                >Company</label
              >
              <input
                type="text"
                id="company"
                name="company"
                autocomplete="organization"
                placeholder="Company name"
                aria-label="Company"
                class="block w-full px-4 py-2 text-xs leading-tight align-middle bg-white border border-transparent gap-2 transition duration-300 ease-in-out focus:z-10 h-9 rounded-md text-base-500 ring-1 ring-base-200 placeholder-base-400 focus:border-accent-500 focus:ring-accent-100 focus:ring-2 focus:outline-none shadow-sm"
              />
            </div>
            <div class="sm:col-span-2">
              <label for="email" class="text-sm font-medium text-base-500"
                >Email</label
              >
              <input
                type="email"
                id="email"
                name="email"
                autocomplete="email"
                placeholder="Your best email!"
                aria-label="Email"
                class="block w-full px-4 py-2 text-xs leading-tight align-middle bg-white border border-transparent gap-2 transition duration-300 ease-in-out focus:z-10 h-9 rounded-md text-base-500 ring-1 ring-base-200 placeholder-base-400 focus:border-accent-500 focus:ring-accent-100 focus:ring-2 focus:outline-none shadow-sm"
              />
            </div>
            <div class="sm:col-span-2">
              <label for="message" class="text-sm font-medium text-base-500"
                >Message</label
              >
              <textarea
                rows="12"
                id="message"
                name="message"
                placeholder="Your message goes here..."
                aria-label="Message"
                class="block w-full px-4 py-2 text-xs leading-tight align-middle bg-white border border-transparent gap-2 transition duration-300 ease-in-out focus:z-10 rounded-md text-base-500 ring-1 ring-base-200 placeholder-base-400 focus:border-accent-500 focus:ring-accent-100 focus:ring-2 focus:outline-none shadow-sm"
              ></textarea>
            </div>
          </div>
          <div class="mt-2">
            <Button size="xl" type="submit" variant="accent" class="w-full">
              Sbumit
            </Button>
          </div>
        </form>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
