<section class="sandstone-section">
  <div class="sandstone-container">
    <div class="sandstone-display-text sandstone-display-2xl sandstone-heading sandstone-display-text--tight">
      {{ section.settings.text }}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Sandstone Intro",
  "tag": "div",
  "settings": [
    {
      "type": "richtext",
      "id": "text",
      "label": "Display text",
      "default": "<p>We are a <em>multidisciplinary interior design</em> studio dedicated to creating <em>timeless interiors</em> that enhance living spaces and inspire everyday experiences.</p>"
    }
  ],
  "presets": [{ "name": "Sandstone Intro" }]
}
{% endschema %}
